{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% stylesheets output='css/bootstrap.min.css'
        '@bootstrap_css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    {% javascripts output='js/bootstrap.min.js'
        '@bootstrap_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}